<ion-header>
  <ion-toolbar>
    <ion-button *ngIf="authToken" color="dark" slot="start" fill="clear" (click)="editEvent()">
      <ion-icon name="color-wand"></ion-icon>
    </ion-button>
    <ion-title>{{'EVENTS.TITLE' | translate}} </ion-title>
    <ion-button *ngIf="authToken" color="dark" slot="end" fill="clear" (click)="addEvent()">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar animated></ion-searchbar>

  <ion-card *ngFor="let event of events;let i = index;">
    <ion-card-title>{{event?.name_events}}</ion-card-title>
    <ion-card-content>
      <ion-list *ngIf="!learnMore[i]">
        <p>{{'EVENTS.SOCIETY' | translate}} {{event?.association_name}}</p>
        <p>{{'EVENTS.DATE' | translate}} {{event.datestart_events | date: 'dd/MM/yy'}} {{'COMMON.AT' | translate}} {{event.timestart_events | date: 'hh:mm'}} {{'COMMON.TO' | translate}} {{event.dateend_events | date: 'dd/MM/yy'}} {{'COMMON.AT' | translate}} {{event.timeend_events | date: 'hh:mm'}}</p>
        <p>{{'EVENTS.PLACE' | translate}} {{event.city}} </p>
        <p>{{'EVENTS.PRICE' | translate}} {{event.price}}€</p>
      </ion-list>
      <ion-list *ngIf="learnMore[i]">
        <p>{{'EVENTS.SOCIETY' | translate}} {{event?.association_name}}</p>

        <p>{{'EVENTS.DATE' | translate}} {{event.datestart_events | date: 'dd/MM/yy'}} {{'COMMON.AT' | translate}} {{event.timestart_events | date: 'hh:mm'}} {{'COMMON.TO' | translate}} {{event.dateend_events | date: 'dd/MM/yy'}} {{'COMMON.AT' | translate}} {{event.timeend_events | date: 'hh:mm'}}</p>
        
        <p>{{'EVENTS.FIELD_TYPE' | translate}} {{event.field_type}}</p><br>

        <p>{{'EVENTS.FIELD_ADRESS' | translate}} {{event.field_adress}}</p>
        <p>{{'EVENTS.PLACE' | translate}} {{event.city}}, {{event.zip_code}}</p><br>

        <p>{{'EVENTS.CONTACT' | translate}} {{event.referee_lastname}} {{event.referee_firstname}}</p>
        <p>{{event.referee_mail}}</p>
        <p>{{event.referee_tel}}</p><br>

        <p>{{'EVENTS.PRICE' | translate}} {{event.price}}€</p>
      
        <p>{{'EVENTS.URL' | translate}} <a href="{{event.url}}">{{event.url}}</a></p><br>

        <p>{{'EVENTS.INFOS' | translate}} <br>
        {{event.infos_events}}</p><br>

        <p>{{'EVENTS.RULES' | translate}}<br>
        {{event.rules_events}}</p>
      </ion-list>

      <div class="ion-text-center">
        <ion-button *ngIf="!learnMore[i]" size="small" fill="clear" (click)="onClickLearnMore(i)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="ion-text-center">
        <ion-button *ngIf="learnMore[i]" size="small" fill="clear" (click)="onClickLearnMore(i)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>

</ion-footer>