@keyframes blink {
  from {color: black;}
  to {color: red;}
}

ion-content {
  --padding-end: 5%;
  --padding-start: 5%;
}

.warning {
  text-align: center !important;
  color: black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
