ion-item {
  width: 100%;
  padding: 0 10% 0 0;
}

ion-input {
  border: 1px solid;
  border-radius: 10px;
  padding-right: 15%;
}

.centerButton {
  text-align: center;
  padding-bottom: 5%;
}

ion-toggle {
  padding-right: 5%;
}

ion-icon {
  padding-left: 5%;
}
